  .suggestions-box {
      border: 1px solid #ccc;
      max-height: 150px;
      overflow-y: auto;
      position: absolute;
      background: white;
      z-index: 10;
  }

  .suggestion-item {
      padding: 5px;
      cursor: pointer;
  }

  .suggestion-item:hover {
      background-color: #f0f0f0;
  }
  .log-item {
    margin-bottom: 8px;
}
.log-item button {
    margin-left: 5px;
}
